* {
    box-sizing: border-box;
}  
.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.363);
}

.section-image {
    background-image: url("images/home_behind_slider_slide1_bg.jpg");
    background-repeat: no-repeat;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}
.logo {
    justify-content: center;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.get-out-container {
    height: 700px;
}
.header-row {
    padding-top: 45px;
    padding-bottom: 45px;
    border-bottom: 1px thin white;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.item-menu {
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.item-menu a {
    color: white;
    text-decoration: none;
}
.green a { 
    color: yellowgreen;
}
.item-menu a:hover {
    color: yellowgreen;
}
.main-title {
    font-family: 'PT Serif', sans-serif;
    text-align: center;
    font-size: 64px;
    color: white;
    padding-bottom: 25px;
    padding-top: 100px;
    line-height: 65px;

}
.main-title + p {
    color: yellowgreen;
    font-family: 'Yantramanav', sans-serif;
    font-size: 19px;
    text-align: center;
    line-height: 25px;
    padding-bottom: 45px;
    
}
.btn-row {
    display: flex;
    justify-content: center;
    
}

.btn {
    width: 190px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 19px;
    border: solid rgba(48, 60, 42) 1px;
    border-radius: 4px;
}
.read-more {
    margin-right: 20px;
}


.fa-arrow-alt-circle-right {
    padding-left: 5px;
}
.fa-book {
    padding-left: 5px;
}

.btn:hover {
    background-color: #81a029;
}
.alps {
    background-image: url("images/home_behind_sectionbg1.png");
    background-color: rgba(31, 30, 28, 1);
    background-size: cover;
}
.text {
    padding-left: 15px;
    padding-right: 15px;
}
.img-way {
    width: 100%;
    height: auto;
}
.title-alps {
    color: white;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 0px;
    font-family: 'PT Serif', sans-serif;
    text-align: left;
    padding-left: 50px;
}
.title-alps +h6 {
    font-family: 'Yantramanav', sans-serif;
    font-size: 13px;
    color: #81a029;
    padding-left: 50px;
    text-transform: uppercase;
    font-weight: 500;
}
.alps-description {
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    color: white;
    padding-left: 50px;
    line-height: 25px;
}
.booking {
    margin-left: 50px;
    margin-top: 20px;
    width: 135px;
    height: 45px;
    background: rgba(41, 40, 41, 1);
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    border: none;
}
.booking:hover {
    background-color: rgb(59, 59, 59);
}
.news-title {
    margin-top: 70px;
    margin-bottom: 70px;
    color: white;
    font-size: 48px;
    font-weight: 700;
    font-family: 'PT Serif', sans-serif;
}
.user-data {
    margin-top: 15px;
    text-decoration: none; 
}
.user {
    text-decoration: none;
    border-bottom-width: 1px;
    border-style: dotted;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    color: grey;
}
.fa-user {
    color: grey;
    padding-right: 5px;
}
.fa-clock {
    padding-left: 5px;
    padding-right: 5px;
}
span {
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    color: grey;
}
.news-text {
    margin-top: 15px;
}
.news-image {
    display: inline-block;
    overflow: hidden; 
    width: 100%;
    height: auto;
}
.news-image img {
    transition: 1s;
    display: block;
}
.news-image img:hover {
    transform: scale(1.2);
}
.user-data {
    line-height: 25px;
}
.article {
    padding-left: 15px;
    padding-right: 15px;
}
.article-title {
    color: white;
    font-size: 22px;
    font-weight: 700;
    font-family: 'PT Serif', sans-serif;
    text-decoration: none;
}
.article-title + p {
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    color: white;
    font-weight: 300;
    line-height: 25px;
}
.like-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.fa-heart {
    color: #81a029;
    padding-right: 5px;
}
.number, .fa-file-alt{
    color: grey;
}
.read-mr {
    padding-right: 20px;
}
.read-mr a {
    color: #81a029;
    text-decoration: none;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
}
.read-mr a:hover {
    border-bottom: solid 2px #81a029;
}
.fa-file-alt {
    padding-right: 5px;
}
.what-you-need {
    background-image: url("images/home_behind_sectionbg2.jpg") ;
    background-position: center center;
    
    
}
.necessery-items h3 {
    margin-top: 20px;
    color: white;
    font-size: 18px;
    font-family: 'PT Serif', sans-serif;
}
.necessery-items p {
    margin-top: 10px;
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 100px;
}
.black {
    background-color:rgba(31, 30, 28, 1);
}
.title-video {
    margin-top: 70px;
    margin-bottom: 50px;
    color: white;
    font-size: 48px;
    font-weight: 700;
    font-family: 'PT Serif', sans-serif;
    text-align: center;
}
.video-img {
    width: 100%;
    height: auto;
}
.text-in-gallery {
    display: flex;
    justify-content: center;
}
.gallery-text p {
    margin-top: 10px;
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    margin-bottom: 50px;
}
p span {
    color: #81a029;
}
.buttons-in-gallery {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
}
.btn {
    width: 150px;
    height: 48px;
    background-color: transparent;
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
}
.show-photos i, .instagram i {
    color: #81a029;
    padding-left: 5px;
}
.btn:hover button i:hover {
    color: white;
}
.show-photos {
    margin-right: 20px;
}
.travel-photos {
    background-color:rgba(31, 30, 28, 1);
}
.travel-img {
    width: 100%;
}
.mini-title {
    width: 160px;
    height: 20px;
    margin-top: 80px;
}
.wanderer-description {
    padding-top: 30px;
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    line-height: 25px;
    padding-bottom: 40px;
}
li a {
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
    line-height: 35px;
    text-decoration: none;
}
li a:hover, .authors a:hover {
    color: #81a029;
    border-bottom: solid 2px  #81a029;;
}
.fa-angle-right {
    color: #81a029;
    padding-right: 5px;
}
.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.363);
    height: 80px;
    background-color:rgba(31, 30, 28, 1);
}
.authors {
    padding-top: 4%;
    color: white;
    font-family: 'Yantramanav', sans-serif;
    font-size: 17px;
}
.authors a {
    color: white;
    text-decoration: none;
}

.icons {
    padding-right: 10px;
    color: #81a029;
}
.icons:hover {
    color: #a9ca4d;
}